<!DOCTYPE html>
<html>
    <head>
        <title>Login form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css"/>
        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/login-form.js"></script>
        </head>
    <body>
    <div class="form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Your username..."/>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Your password..." />
            <input id="submit" type="submit" value="Send"/>
            <p6 id="form-answer"></p6>

    </div>
    </body>
</html>
